<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Teste Bematech</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")
    <script type="text/javascript">

        function ShowMessageModal(titulo, mensagem) {
            $('#modalMessageButtons').show();
            $('#modalMessageRedirectButtons').hide();
            $('#modalConfirmButtons').hide();
            $('#modalPopup').modal('show');
            $('#modalTitulo').html(titulo);
            $('#modalMensagem').html(mensagem);
        }

        function ShowMessageRedirectModal(titulo, mensagem, url) {
            $('#modalMessageButtons').hide();
            $('#modalMessageRedirectButtons').show();
            $('#modalConfirmButtons').hide();
            $('#modalPopup').modal('show');
            $('#modalTitulo').html(titulo);
            $('#modalMensagem').html(mensagem);
            $('#btnModalRedirect').attr("href", url);
        }

        function ShowConfirmModal(titulo, mensagem, confirmCallback, cancelCallback) {
            $('#modalMessageButtons').hide();
            $('#modalMessageRedirectButtons').hide();
            $('#modalConfirmButtons').show();
            $('#modalPopup').modal('show');
            $('#modalTitulo').html(titulo);
            $('#modalMensagem').html(mensagem);
            $('#btnModalConfirm').click(confirmCallback);
            $('#btnModalCancel').click(btnModalCancel);
        }



    </script>
</head>
<body ng-app="myApp">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Sistema de Cadastro", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Página Inicial", "Index", "Home")</li>
                    <li>@Html.ActionLink("Pedidos", "Index", "Pedido")</li>
                    <li>@Html.ActionLink("Clientes", "Index", "Cliente")</li>
                    <li>@Html.ActionLink("Produtos", "Index", "Produto")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <h1>@ViewBag.Title</h1>
        </div>
        <hr />
        <br />
        <div class="row">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Teste Bematech</p>
            <span ng-controller="myTestController">{{test}}</span>
        </footer>
    </div>

    <div class="modal fade" id="modalPopup" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="modalTitulo"></h4>
                </div>
                <div class="modal-body" id="modalMensagem">

                </div>
                <div id="modalMessageButtons" class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">
                        Ok
                    </a>
                </div>
                <div id="modalMessageRedirectButtons" class="modal-footer">
                    <a id="btnModalRedirect" type="submit" class="btn btn-default" href="#">
                        Ok
                    </a>
                </div>
                <div id="modalConfirmButtons" class="modal-footer">
                    <a id="btnModalConfirm" class="btn btn-success" data-dismiss="modal">
                        Confirmar
                    </a>
                    <a id="btnModalCancel" class="btn btn-danger" data-dismiss="modal">
                        Cancelar
                    </a>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
